<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>What's In Your Fridge?</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
		<link rel="stylesheet" href="/stylesheets/style.css">
		<link rel="stylesheet" href="/stylesheets/style-index.css">
		<link href="https://fonts.googleapis.com/css?family=Bungee+Shade" rel="stylesheet">
	</head>
	<body>
		<h1>What's in Your Fridge?</h1>

		<img src="/images/whatsinyourfridge-index.png" alt="fridge">

	<div class="row">
		<div class="col s10 offset-s1 center-align">
		<button class="btn waves-effect white index-btn">
		    <a style="color: black;" href="/login"> Login </a>
		</button>

		<button class="btn waves-effect white index-btn">
		    <a style="color: black;" href="/signup"> Sign Up</a>
		</button>
		</div>
	</div>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>

	</body>
</html>
