<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>What's in Your Fridge?</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css'>
</head>

<body>
    <h1>What's in Your Fridge?</h1>
    <h3>Login</h3>
    <form method='POST' action='/login' />
    <label for='emailOrUsername'>Email or Username:</label>
    <input type='text' placeholder='Email or Username' name='emailOrUsername'><br>
    <label for='password'>Password:</label>
    <input type='text' placeholder='Password' name='password'><br>
    <button type='submit'>Login</button>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
</body>

</html>
