<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>What's in My Fridge?</title>
  </head>
  <body>
    <h1>New Ingredients</h1>
    <form method="post" action="fridge/ingredients/add">
      <label>Ingredients: <input type="text"></label>
      <br>
      <input type="submit" value="Submit">
    </form>

  </body>
</html>
