.body {
  margin-left: 5%;
  margin-right: 5%;
}

h1 {
  font-family: 'Bungee Shade', serif;
  font-size: 4em;
  text-align: center;
}

.index-btn {
  /*margin-left: 50%;
  margin-right: 50%;
  margin-top: 1%;*/
}
